## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Auki,SB,78.64,scattered clouds,-8.7676,160.7034,Auki
1,3,Nishihara,JP,75.25,broken clouds,26.1842,127.7558,Naha
2,5,Kruisfontein,ZA,62.89,overcast clouds,-34.0033,24.7314,Humansdorp
3,6,Cape Town,ZA,64.81,few clouds,-33.9258,18.4232,Cape Town
4,8,Carnarvon,AU,64.47,scattered clouds,-24.8667,113.6333,Carnarvon

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# MEXICO.
# Grab the hotel from the results and store
mexico_vacation_df = vacation_df.loc[(vacation_df["Country"] == "MX")]
mexico_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,422,Sonoita,MX,79.54,clear sky,31.8500,-112.8333,Sonoyta
181,468,Guerrero Negro,MX,71.69,clear sky,27.9769,-114.0611,Guerrero Negro
186,477,Las Choapas,MX,77.05,overcast clouds,17.9333,-94.0833,Las Choapas
219,561,Ayutla,MX,75.20,scattered clouds,20.1167,-104.3333,Centro
224,577,Jimenez,MX,73.20,few clouds,28.3333,-105.4000,Arenillas
232,600,Monte Escobedo,MX,64.27,clear sky,22.3000,-103.5833,Monte Escobedo
234,603,San Quintin,MX,68.09,clear sky,30.4833,-115.9500,Lázaro Cárdenas

In [7]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [8]:
mexico_vacation_df = mexico_vacation_df[new_column_order]

In [12]:
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
162,422,Sonoita,MX,31.8500,-112.8333,79.54,clear sky
181,468,Guerrero Negro,MX,27.9769,-114.0611,71.69,clear sky
186,477,Las Choapas,MX,17.9333,-94.0833,77.05,overcast clouds
219,561,Ayutla,MX,20.1167,-104.3333,75.20,scattered clouds
224,577,Jimenez,MX,28.3333,-105.4000,73.20,few clouds
232,600,Monte Escobedo,MX,22.3000,-103.5833,64.27,clear sky
234,603,San Quintin,MX,30.4833,-115.9500,68.09,clear sky

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#Picking our 4 cities
start = float(input("What is your Starting City_ID from MX List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from MX List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from MX List you would like for your trip? "))
stop3 = float(input("What is your Third Stop City_ID from MX List you would like for your trip? "))
end = float(input("What is your Last City_ID from MX List you would like for your trip? "))

#Start
vacation_start = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

#City 1
vacation_stop1 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

#City 2
vacation_stop2 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

#City 3
vacation_stop3 = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

#City 4
vacation_end = mexico_vacation_df.loc[(mexico_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 

#Display Stops/Destinations
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

What is your Starting City_ID from MX List you would like for your trip? 477
What is your First Stop City_ID from MX List you would like for your trip? 561
What is your Second Stop City_ID from MX List you would like for your trip? 600
What is your Third Stop City_ID from MX List you would like for your trip? 577
What is your Last City_ID from MX List you would like for your trip? 603
Your Starting Destination is Ayutla, MX
Your Frist Stop is Monte Escobedo, MX
Your Second Stop is Jimenez, MX
Your Thirth Stop is San Quintin, MX
Your Last Stop in your vacation is Sonoita, MX

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]] 
end = vacation_end[["Lat", "Lng"]] 
stop1 = vacation_stop1[["Lat", "Lng"]] 
stop2 = vacation_stop2[["Lat", "Lng"]]
stop3 = vacation_stop3[["Lat", "Lng"]]

In [16]:
print(start)

Lat     20.1167
Lng   -104.3333
Name: 219, dtype: object

In [17]:
print(stop1)

Lat        22.3
Lng   -103.5833
Name: 232, dtype: object

In [18]:
print(stop2)

Lat    28.3333
Lng     -105.4
Name: 224, dtype: object

In [19]:
print(stop3)

Lat    30.4833
Lng    -115.95
Name: 234, dtype: object

In [20]:
print(end)

Lat       31.85
Lng   -112.8333
Name: 162, dtype: object

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (20.1167, -104.3333)
stop1 = (22.3, -103.5833)
stop2 = (28.3333, -105.4)
stop3 = (30.4833, -112.8333)
end = (31.85, -116.07)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
#itinerary_df = pd.concat([],ignore_index=True)
#itinerary_df

mexico_vacation_df = pd.concat([mexico_vacation_df],ignore_index=True)
mexico_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,422,Sonoita,MX,31.8500,-112.8333,79.54,clear sky
1,468,Guerrero Negro,MX,27.9769,-114.0611,71.69,clear sky
2,477,Las Choapas,MX,17.9333,-94.0833,77.05,overcast clouds
3,561,Ayutla,MX,20.1167,-104.3333,75.20,scattered clouds
4,577,Jimenez,MX,28.3333,-105.4000,73.20,few clouds
5,600,Monte Escobedo,MX,22.3000,-103.5833,64.27,clear sky
6,603,San Quintin,MX,30.4833,-115.9500,68.09,clear sky

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in mexico_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = mexico_vacation_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
city_mark = mexico_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))