## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Auki,SB,-8.7676,160.7034,78.64,79,27,4.12,scattered clouds,2021-11-06 16:38:02
1,1,Georgetown,MY,5.4112,100.3354,80.53,89,40,1.99,scattered clouds,2021-11-06 16:38:03
2,2,Aras,ES,42.5617,-2.3560,45.03,70,14,10.40,few clouds,2021-11-06 16:38:03
3,3,Nishihara,JP,26.1842,127.7558,75.25,83,75,10.36,broken clouds,2021-11-06 16:38:03
4,4,La Ronge,CA,55.1001,-105.2842,37.65,93,90,3.44,light intensity drizzle,2021-11-06 16:38:04

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 60
What is the maximum temperature you would like for your vacation? 80

In [5]:
# Filter the dataset based on preferences above
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Auki,SB,-8.7676,160.7034,78.64,79,27,4.12,scattered clouds,2021-11-06 16:38:02
3,3,Nishihara,JP,26.1842,127.7558,75.25,83,75,10.36,broken clouds,2021-11-06 16:38:03
5,5,Kruisfontein,ZA,-34.0033,24.7314,62.89,69,96,4.52,overcast clouds,2021-11-06 16:38:04
6,6,Cape Town,ZA,-33.9258,18.4232,64.81,57,20,3.00,few clouds,2021-11-06 16:34:45
8,8,Carnarvon,AU,-24.8667,113.6333,64.47,77,40,21.85,scattered clouds,2021-11-06 16:36:51
9,9,Yulara,AU,-25.2406,130.9889,69.64,83,90,3.44,overcast clouds,2021-11-06 16:38:05
12,12,Meulaboh,ID,4.1363,96.1285,75.36,94,100,4.88,very heavy rain,2021-11-06 16:38:06
15,15,Rikitea,PF,-23.1203,-134.9692,75.18,81,100,16.49,overcast clouds,2021-11-06 16:38:07
19,19,Monrovia,LR,6.3005,-10.7969,76.77,74,39,9.37,light rain,2021-11-06 16:38:09
23,23,Geraldton,AU,-28.7667,114.6000,61.21,72,23,16.11,few clouds,2021-11-06 16:38:10

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                253
City                   253
Country                250
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
Date                   253
dtype: int64

In [7]:
preferred_cities_df.notnull().sum()

City_ID                253
City                   253
Country                250
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
Date                   253
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Auki,SB,-8.7676,160.7034,78.64,79,27,4.12,scattered clouds,2021-11-06 16:38:02
3,3,Nishihara,JP,26.1842,127.7558,75.25,83,75,10.36,broken clouds,2021-11-06 16:38:03
5,5,Kruisfontein,ZA,-34.0033,24.7314,62.89,69,96,4.52,overcast clouds,2021-11-06 16:38:04
6,6,Cape Town,ZA,-33.9258,18.4232,64.81,57,20,3.00,few clouds,2021-11-06 16:34:45
8,8,Carnarvon,AU,-24.8667,113.6333,64.47,77,40,21.85,scattered clouds,2021-11-06 16:36:51
...,...,...,...,...,...,...,...,...,...,...,...
666,666,Los Llanos De Aridane,ES,28.6585,-17.9182,67.75,67,75,11.01,broken clouds,2021-11-06 16:41:57
673,673,Chake Chake,TZ,-5.2459,39.7666,77.54,81,40,8.37,scattered clouds,2021-11-06 16:41:59
675,675,Bosaso,SO,11.2842,49.1816,78.78,63,22,1.79,few clouds,2021-11-06 16:42:00
678,678,Grand Gaube,MU,-20.0064,57.6608,76.37,76,34,3.00,scattered clouds,2021-11-06 16:42:01
679,679,Akyab,MM,20.1500,92.9000,75.20,75,1,9.26,clear sky,2021-11-06 16:42:01

In [10]:
# Had 253 rows in original df dropped the 3 NA's to get 250 rows

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
#hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Auki,SB,78.64,scattered clouds,-8.7676,160.7034,
3,Nishihara,JP,75.25,broken clouds,26.1842,127.7558,
5,Kruisfontein,ZA,62.89,overcast clouds,-34.0033,24.7314,
6,Cape Town,ZA,64.81,few clouds,-33.9258,18.4232,
8,Carnarvon,AU,64.47,scattered clouds,-24.8667,113.6333,
9,Yulara,AU,69.64,overcast clouds,-25.2406,130.9889,
12,Meulaboh,ID,75.36,very heavy rain,4.1363,96.1285,
15,Rikitea,PF,75.18,overcast clouds,-23.1203,-134.9692,
19,Monrovia,LR,76.77,light rain,6.3005,-10.7969,
23,Geraldton,AU,61.21,few clouds,-28.7667,114.6000,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
    #params = {
        #"radius": 5000,
        #"types" : "hotel",
        #"key": g_key
    #}

#(see below)


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the lat and long to params dictionary in 6a.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Auki,SB,78.64,scattered clouds,-8.7676,160.7034,Auki
3,Nishihara,JP,75.25,broken clouds,26.1842,127.7558,Naha
5,Kruisfontein,ZA,62.89,overcast clouds,-34.0033,24.7314,Humansdorp
6,Cape Town,ZA,64.81,few clouds,-33.9258,18.4232,Cape Town
8,Carnarvon,AU,64.47,scattered clouds,-24.8667,113.6333,Carnarvon
...,...,...,...,...,...,...,...
666,Los Llanos De Aridane,ES,67.75,broken clouds,28.6585,-17.9182,Los Llanos
673,Chake Chake,TZ,77.54,scattered clouds,-5.2459,39.7666,Chake Chake
675,Bosaso,SO,78.78,few clouds,11.2842,49.1816,Bosaso
678,Grand Gaube,MU,76.37,scattered clouds,-20.0064,57.6608,Goodlands
679,Akyab,MM,75.20,clear sky,20.1500,92.9000,Sittwe

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))